# requiremets:
git zsh cscope ctags clang cmake python-dev tmux silversearcher-ag curl jq
build-essential libclang-dev libncurses-dev libboost-dev libz-dev cmake xz-utils

# pip requiremets
isort
black
flake8
python-language-server[all]
pyls-black
pyls-isort
